{% extends 'lms/base.html' %} 

{% block title %} 

Panitik

{% endblock %} 


{% block content %} 

<div class="content">
  <div class="animated fadeIn">
    <div class="row">
      {% for i in courses %}
      <div class="col-lg-4 col-md-4">
        <div class="card" style="text-align: center;">
          <div>
            <div class="text-center dib">
              <div class="stat-text">
                <h2><b>{{i.subject_name | title}}</b></h2>
              </div>
              <h3>{{i.faculty | title}}</h3>
            </div>
          </div>
          <div class="card-body"  style="text-align: center;">
            <div class="stat-widget-five-1">
              <div class="stat-icon dib flat-color-1">
                <a href="{% url 'activities' i.id %}"><i class="fa fa-book"></i><p>Activity</p></a> 
                <a href="{% url 'chat' i.subject_name|add:request.user.studentdetails.section.section_name|cut:' ' %}"><i class="fa fa-comments"></i><p>Chat</p></a> 
                <a href="{% url 'meeting' i.id %}"><i class="fa fa-desktop"></i><p>Meeting</p></a> 
                <a href="{% url 'announcement' i.id %}"><i class="fa fa-quote-right"></i><p>Announcement</p></a> 
                <a href="{% url 'materials' i.id %}"><i class="fa fa-folder"></i><p>Class Materials</p></a> 
                <a href=""><i class="fa fa-pencil-square-o"></i><p>Grade and Attendance</p></a> 
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
